input.input-danger:not(:placeholder-shown) {
  border-color: #d62929 !important;
}

textarea.input-danger:not(:placeholder-shown) {
  border-color: #d62929 !important;
}

option:disabled {
  display: none;
}

select:required:invalid {
  color: rgba(0, 0, 0, .6);
}

input, 
textarea, 
select {
  resize: none;
}

h3 {
  @apply text-xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

h1 {
  @apply text-3xl font-bold;
}

html {
  overflow-x: hidden;
}

html.sr .load-reveal {
  visibility: hidden;
}

.color-gray {
  color: #35495e;
}
